.d-flex.h-100.flex-column
    .logo
        h2 Cellytics NK
    .mode
        button.btn.btn-outline-secondary Initialization
        button.btn.btn-outline-secondary Update
        button.btn.btn-outline-secondary Date Setting
        button.btn.btn-outline-secondary Customization 