.window-close.position-absolute.z-3.d-inline-block.cursor-pointer(
    [style.opacity]="opacity",
    (mouseenter)="opacity=1;render();",
    (mouseleave)="opacity=0;render();",
    (click)="close()",
) &#215;
