aside.navbar.navbar-vertical.navbar-expand-lg.navbar-side.position-relative.z-2
    .navbar-brand-container.z-1

    .menu.z-1
        a.menu-item.mt-auto(routerLink="/count", routerLinkActive="active")
            .menu-item-bg.z-1
                .normal
                    img(src="image://btn-count.png")
                .current
                    img(src="image://btn-count-current.png")
        a.menu-item(routerLink="/toxicity", routerLinkActive="active")
            .menu-item-bg.z-1
                .normal
                    img(src="image://btn-toxicity.png")
                .current
                    img(src="image://btn-toxicity-current.png")
        a.menu-item(routerLink="/history", routerLinkActive="active")
            .menu-item-bg.z-1
                .normal
                    img(src="image://btn-history.png")
                .current
                    img(src="image://btn-history-current.png")
        a.menu-item(routerLink="/settings", routerLinkActive="active")
            .menu-item-bg.z-1
                .normal
                    img(src="image://btn-settings.png")
                .current
                    img(src="image://btn-settings-current.png")
