.wiz-empty-page.position-relative
    .w-100.h-100
        router-outlet
    wiz-component-close

.block-transparent-page(*ngIf="service.loading.isshow")
    wiz-portal-season-loading-hexa
wiz-portal-season-alert
