.wiz-aside-page.position-relative
    .wiz-content
        .wiz-view
            router-outlet
    // wiz-component-nav-aside

.block-page(*ngIf="service.loading.isshow")
    wiz-portal-season-loading-hexa
wiz-portal-season-alert
