.page.h-100
    wiz-component-logo(style="width: 100%;")
    .view
        .main.mr-2.h-100.flex-grow-1
            .item-card.h-100
                .result-canvas.d-flex.align-items-center.justify-content-center
                    canvas#result-chart
                    img#result-img(crossOrigin="anonymous")
                    canvas#count-box
                .item.mt-4
                    .option
                        strong Name
                        .option-name.d-flex
                            span.col {{result.name}}
                            button.btn.btn-none((click)="toggleImgVis()", style="width: 85px;") {{imgVis}}
                            button.col-auto.btn.btn-show(style="text-transform: uppercase; width: 95px; cursor: default !important;") {{result.mode}}
                    .option
                        strong Concentration
                        span {{result.tc.toLocaleString()}} cells/mL
                    .option
                        strong Count
                        span {{result.total}} cells
                    
        .sub.ml-2.d-flex.flex-column.h-100(style="width: 500px;")
            .item-card.flex-grow-1
                .item.mb-3.d-flex.flex-row-reverse.align-items-center
                    span.flex-grow-1.text-right {{result.date}}
                    button.btn.btn-outline(routerLink="/capture")
                        i.fa-solid.fa-chevron-left
                        span.ml-2 Back
                .item.justify-content-between.d-flex.align-items-center
                    strong.col Result

                .result-page.d-flex
                    .show.col.pr-2
                        .result(*ngFor = "let item of param")
                            strong {{item.name}}
                            span {{item.result}}
                    .show.col.pl-2
                        .result(*ngFor = "let item of param2")
                            strong {{item.name}}
                            span {{item.result}}

            .item.mt-3
                button.btn.btn-none.w-100((click)="save()", style="border-radius: 20px;")
                    i.fa-regular.fa-floppy-disk
                    span.ml-2 Save